<ion-view view-title="{{vm.questionario.descricao}}">
  <ion-content>
    <div class="descricao">
      Sua Pontuação
      <br/>(Até {{vm.questionario.pontuacaoTotal}} Pontos)
    </div>

    <div class="pontuacao"> {{vm.pontuacaoCorrente}}</div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>{{vm.questaoCorrente.descricao}}</h2>
        <ion-list>
          <ion-radio ng-repeat="pr in vm.questaoCorrente.perguntaRespostas track by pr.id" ng-model="vm.opcaoCorrente"
                     ng-value="'{{pr.resposta.id}}'">
            {{pr.letra}} - {{pr.resposta.descricao}}
          </ion-radio>
        </ion-list>
      </div>
    </div>

    <div class="row info" ng-class="{'hide': vm.questaoCorrente.respondida}">
      <div class="col txt-verde">
        <p>Acertou?<br/><b>+{{vm.questaoCorrente.pontuacao}}</b></p>
      </div>
      <div class="col txt-vermelho">
        <p>Errou?<br/><b>-{{vm.questaoCorrente.pontuacao*2}}</b></p>
      </div>
    </div>

    <div class="card-info msg-info" ng-class="{'hide': !vm.questaoCorrente.respondida}">
      <div class="item item-text-wrap balanced-bg" ng-class="{'hide': !vm.questaoCorrente.acertou}" style="color:white">
        <i class="icon ion-checkmark-circled"></i> Você acertou!
      </div>
      <div class="item item-text-wrap assertive-bg" ng-class="{'hide': vm.questaoCorrente.acertou}"
           style="color:white">
        <i class="icon ion-close-circled"></i> Você errou!
      </div>
      <div class="item item-text-wrap energized-bg" ng-class="{'hide': !vm.questaoCorrente.pulou}"
           style="color:white">
        <i class="icon ion-shuffle"></i> Você pulou!
      </div>
    </div>

    <div class="card-info" ng-class="{'hide': !vm.questionario.dicaAcionada || !vm.questaoCorrente.usouDica}">
      <div class="item item-text-wrap royal-bg" style="color:white">
        <i class="icon ion-alert"></i> {{vm.questaoCorrente.dica}}
      </div>
    </div>

    <div class="card card-dicas">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <button class="button button-full button-stable ion-help" ng-click="vm.dica()"
                    ng-class="{'disabled': vm.questaoCorrente.respondida || vm.questionario.dicaAcionada}">
              Dica
            </button>
          </div>

          <div class="col">
            <button class="button button-full button-stable ion-close-round" ng-click="vm.eliminar()"
                    ng-class="{'disabled': vm.questaoCorrente.respondida || vm.questionario.eliminarAcionado}">
              Eliminar
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="button button-full button-stable ion-log-out" ng-click="vm.pular()"
                    ng-class="{'disabled': vm.questaoCorrente.respondida || vm.questionario.pularAcionado}">
              Pular
            </button>
          </div>

          <div class="col">
            <button class="button button-full button-stable ion-plus-circled" ng-click="vm.dobrar()"
                    ng-class="{'disabled': vm.questaoCorrente.respondida || vm.questionario.dobrarAcionado}">
              Dobrar
            </button>
          </div>
        </div>

      </div>
    </div>

  </ion-content>

  <div class="card card-control">
    <div class="item item-text-wrap">
      <div class="row">

        <div class="col">
          <button class="button button-full button-energized icon ion-arrow-left-a"
                  ng-class="{'disabled': !vm.verificaAnterior}" ng-click="vm.irAnterior()">
          </button>
        </div>

        <div class="col">
          <button class="button button-full button-assertive icon ion-checkmark-circled"
                  ng-class="{'disabled': vm.questaoCorrente.respondida}" ng-click="vm.responder()">
          </button>
        </div>

        <div class="col" ng-class="{'hide': !vm.verificaUltima || !vm.questaoCorrente.respondida}">
          <button class="button button-full button-assertive" ng-click="vm.finalizar()">Finalizar</button>
        </div>

        <div class="col">
          <button class="button button-full button-energized icon ion-arrow-right-a"
                  ng-class="{'disabled': !vm.verificaProxima}" ng-click="vm.irProxima()">
          </button>
        </div>

      </div>
    </div>
  </div>

</ion-view>
