<ion-view view-title="Playlist">
  <ion-content>

    <div class="descricao">Sua pontuação (Até 000 pontos)</div>
    <div class="pontuacao">999</div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>Qual seleção não vai para copa?</h2>
        <ion-list>
          <ion-radio ng-model="x" ng-value="'A'">Brasil</ion-radio>
          <ion-radio ng-model="x" ng-value="'B'">Alemanha</ion-radio>
          <ion-radio ng-model="x" ng-value="'C'">Itália</ion-radio>
          <ion-radio ng-model="x" ng-value="'C'">França</ion-radio>
        </ion-list>
      </div>
    </div>

    <div class="card card-dicas">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <button class="button button-full button-energized ion-help"> Dica</button>
          </div>
          <div class="col">
            <button class="button button-full button-energized ion-close-round"> Eliminar</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-full button-energized ion-ios-redo"> Pular</button>
          </div>
          <div class="col">
            <button class="button button-full button-energized ion-plus"> Dobrar</button>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

  <div class="tabs-striped tabs-color-assertive">
    <div class="tabs">
      <div class="tab-item active">
        <i class="icon ion-arrow-left-a"></i>
      </div>
      <div class="tab-item active">
        <i class="icon ion-checkmark-circled"></i>
      </div>
      <div class="tab-item active">
        <i class="icon ion-arrow-right-a"></i>
      </div>
    </div>
  </div>

</ion-view>
